workflows/subflows/pmf-gemini-stage.json
{
  "name": "PMF Gemini Stage Subflow",
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "id": "b1cf9f10-e85c-41cb-ba36-6f286efb64fa",
      "name": "When Executed by Another Workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\nconst stage = input.stage_config;\n\nif (!stage || !stage.key || !stage.schema) {\n  throw new Error('Missing stage_config definition.');\n}\n\nconst warnings = Array.isArray(input.warnings) ? [...input.warnings] : [];\nlet provider = typeof stage.provider === 'string' ? stage.provider.trim().toLowerCase() : 'gemini';\n\nif (!provider) {\n  provider = 'gemini';\n}\n\nif (provider !== 'gemini') {\n  warnings.push('Stage ' + stage.key + ' requested unsupported provider \"' + provider + '\". Falling back to Gemini.');\n  provider = 'gemini';\n}\n\nconst model =\n  typeof stage.model === 'string' && stage.model.trim()\n    ? stage.model.trim()\n    : ($env.GEMINI_MODEL || 'gemini-3-flash-preview');\nconst rawTemperature = Number(stage.temperature);\nconst baseTemperature = Number.isFinite(rawTemperature) ? Math.min(Math.max(rawTemperature, 0), 1) : 0.2;\nconst rawMaxAttempts = Number(stage.max_attempts);\nconst maxAttempts = Number.isInteger(rawMaxAttempts)\n  ? Math.min(Math.max(rawMaxAttempts, 1), 3)\n  : 3;\nconst retryTemperatures = [\n  baseTemperature,\n  Math.max(0, Number((baseTemperature - 0.1).toFixed(2))),\n  Math.max(0, Number((baseTemperature - 0.15).toFixed(2))),\n];\nconst configSnapshot = {\n  key: stage.key,\n  provider,\n  model,\n  schema_version: stage.schema_version || 'v1',\n  temperature: baseTemperature,\n  max_attempts: maxAttempts,\n  config_source: stage.config_source || 'default',\n  schema: stage.schema,\n  required_keys: Array.isArray(stage.required_keys) ? stage.required_keys : [],\n  fallback: stage.fallback || {},\n  prompt_template: stage.instructions || '',\n};\n\nconst promptSections = [\n  stage.system || '',\n  stage.instructions || '',\n  'Return JSON only. Do not wrap the response in markdown fences.',\n  'Context:',\n  JSON.stringify(\n    {\n      idea: input.idea,\n      target_audience: input.target_audience,\n      monetization_guess: input.monetization_guess,\n      research_context: input.research_context,\n      analysis_outputs: input.analysis_outputs || {},\n    },\n    null,\n    2,\n  ),\n];\n\nreturn [\n  {\n    json: {\n      ...input,\n      warnings,\n      stage_started_at: Date.now(),\n      stage_provider: provider,\n      stage_model: model,\n      stage_temperature: baseTemperature,\n      stage_retry_temperatures: retryTemperatures,\n      stage_retry_limit: maxAttempts,\n      stage_schema_version: stage.schema_version || 'v1',\n      stage_config_source: stage.config_source || 'default',\n      stage_config_snapshot: configSnapshot,\n      stage_prompt: promptSections.filter(Boolean).join('\\n\\n'),\n    },\n  },\n];"
      },
      "id": "16e4e3cd-d819-422b-b73a-a9db50feae0b",
      "name": "Prepare Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        240,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ \"https://generativelanguage.googleapis.com/v1beta/models/\" + ($json.stage_model || $env.GEMINI_MODEL || \"gemini-3-flash-preview\") + \":generateContent\" }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "x-goog-api-key",
              "value": "={{ $env.GEMINI_API_KEY }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ ({ contents: [{ parts: [{ text: $json.stage_prompt }] }], generationConfig: { temperature: $json.stage_retry_temperatures[0], responseMimeType: \"application/json\", responseJsonSchema: $json.stage_config.schema } }) }}",
        "options": {
          "timeout": 90000
        }
      },
      "id": "7ac1c344-9bf4-4263-b46f-702be364af64",
      "name": "Gemini Attempt 1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        520,
        -220
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000
    },
    {
      "parameters": {
        "jsCode": "const base = $('Prepare Prompt').first().json;\nconst raw = $json.candidates?.[0]?.content?.parts?.[0]?.text || '';\nlet parsed = null;\nlet valid = false;\nlet errorMessage = null;\n\nfunction validateAgainstSchema(value, schema, path = 'root') {\n  const errors = [];\n\n  if (!schema || typeof schema !== 'object') {\n    return errors;\n  }\n\n  if (schema.type === 'object') {\n    if (typeof value !== 'object' || value === null || Array.isArray(value)) {\n      return [path + ' must be an object'];\n    }\n\n    const required = Array.isArray(schema.required) ? schema.required : [];\n    for (const key of required) {\n      if (!(key in value)) {\n        errors.push(path + '.' + key + ' is required');\n      }\n    }\n\n    const properties = schema.properties || {};\n    for (const [key, childSchema] of Object.entries(properties)) {\n      if (key in value) {\n        errors.push(...validateAgainstSchema(value[key], childSchema, path + '.' + key));\n      }\n    }\n\n    return errors;\n  }\n\n  if (schema.type === 'array') {\n    if (!Array.isArray(value)) {\n      return [path + ' must be an array'];\n    }\n\n    if (schema.items) {\n      value.forEach((item, index) => {\n        errors.push(...validateAgainstSchema(item, schema.items, path + '[' + index + ']'));\n      });\n    }\n\n    return errors;\n  }\n\n  if (schema.type === 'string') {\n    if (typeof value !== 'string') {\n      return [path + ' must be a string'];\n    }\n\n    if (Array.isArray(schema.enum) && !schema.enum.includes(value)) {\n      return [path + ' must be one of: ' + schema.enum.join(', ')];\n    }\n\n    return errors;\n  }\n\n  if (schema.type === 'number') {\n    if (typeof value !== 'number' || Number.isNaN(value)) {\n      return [path + ' must be a number'];\n    }\n\n    return errors;\n  }\n\n  if (schema.type === 'integer') {\n    if (!Number.isInteger(value)) {\n      return [path + ' must be an integer'];\n    }\n\n    return errors;\n  }\n\n  if (schema.type === 'boolean') {\n    if (typeof value !== 'boolean') {\n      return [path + ' must be a boolean'];\n    }\n\n    return errors;\n  }\n\n  return errors;\n}\n\ntry {\n  if (!raw) {\n    throw new Error('Gemini returned an empty response.');\n  }\n\n  parsed = JSON.parse(raw);\n\n  const validationErrors = validateAgainstSchema(parsed, base.stage_config.schema);\n  const required = Array.isArray(base.stage_config.required_keys)\n    ? base.stage_config.required_keys\n    : [];\n  const missing = required.filter((key) => !(key in parsed));\n\n  if (missing.length) {\n    validationErrors.push('Missing keys: ' + missing.join(', '));\n  }\n\n  if (validationErrors.length) {\n    throw new Error(validationErrors.join(' | '));\n  }\n\n  valid = true;\n} catch (error) {\n  errorMessage = error.message;\n}\n\nconst currentLog = {\n  stage_key: base.stage_config.key,\n  attempt: 1,\n  status: valid\n    ? 'success'\n    : (1 >= (base.stage_retry_limit || 3) ? 'fallback' : 'retry'),\n  latency_ms: Date.now() - base.stage_started_at,\n  warning_details: errorMessage ? [errorMessage] : [],\n  raw_response: raw ? { text: raw } : null,\n  parsed_response: parsed,\n  provider: base.stage_provider,\n  model: base.stage_model,\n  schema_version: base.stage_schema_version,\n  config_source: base.stage_config_source,\n  config_snapshot: base.stage_config_snapshot,\n};\n\nreturn [\n  {\n    json: {\n      ...base,\n      llm_valid: valid,\n      stage_attempt: 1,\n      stage_attempt_error: errorMessage,\n      llm_raw: raw,\n      llm_parsed: parsed,\n      stage_attempt_logs: [...[], currentLog],\n    },\n  },\n];"
      },
      "id": "fc519d75-77a7-435e-85bb-247d4eea6daf",
      "name": "Parse Attempt 1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        760,
        -220
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "c0143b42-ea46-4300-97a9-71dc4fe02ff9",
              "leftValue": "={{ $json.llm_valid }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "f4f3097c-6fdc-4f8a-83be-c5aae48002c3",
      "name": "Attempt 1 Valid?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        980,
        -220
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "fd521720-b53c-4b17-ada9-2058a7bdafc7",
              "leftValue": "={{ ($json.stage_retry_limit || 3) > 1 }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "62a89e8a-09ea-401f-bb2f-8ffcfd879a5c",
      "name": "Retry Attempt 2 Allowed?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1220,
        -220
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ \"https://generativelanguage.googleapis.com/v1beta/models/\" + ($(\"Prepare Prompt\").first().json.stage_model || $env.GEMINI_MODEL || \"gemini-3-flash-preview\") + \":generateContent\" }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "x-goog-api-key",
              "value": "={{ $env.GEMINI_API_KEY }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ ({ contents: [{ parts: [{ text: $(\"Prepare Prompt\").first().json.stage_prompt + \"\\n\\nThe previous response failed validation because: \" + ($(\"Parse Attempt 1\").first().json.stage_attempt_error || \"unknown error\") + \". Return corrected JSON only.\" }] }], generationConfig: { temperature: $(\"Prepare Prompt\").first().json.stage_retry_temperatures[1], responseMimeType: \"application/json\", responseJsonSchema: $(\"Prepare Prompt\").first().json.stage_config.schema } }) }}",
        "options": {
          "timeout": 90000
        }
      },
      "id": "79cfc32d-2a3a-4771-84bf-5c9da0a2d624",
      "name": "Gemini Attempt 2",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1220,
        -80
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000
    },
    {
      "parameters": {
        "jsCode": "const base = $('Prepare Prompt').first().json;\nconst raw = $json.candidates?.[0]?.content?.parts?.[0]?.text || '';\nlet parsed = null;\nlet valid = false;\nlet errorMessage = null;\n\nfunction validateAgainstSchema(value, schema, path = 'root') {\n  const errors = [];\n\n  if (!schema || typeof schema !== 'object') {\n    return errors;\n  }\n\n  if (schema.type === 'object') {\n    if (typeof value !== 'object' || value === null || Array.isArray(value)) {\n      return [path + ' must be an object'];\n    }\n\n    const required = Array.isArray(schema.required) ? schema.required : [];\n    for (const key of required) {\n      if (!(key in value)) {\n        errors.push(path + '.' + key + ' is required');\n      }\n    }\n\n    const properties = schema.properties || {};\n    for (const [key, childSchema] of Object.entries(properties)) {\n      if (key in value) {\n        errors.push(...validateAgainstSchema(value[key], childSchema, path + '.' + key));\n      }\n    }\n\n    return errors;\n  }\n\n  if (schema.type === 'array') {\n    if (!Array.isArray(value)) {\n      return [path + ' must be an array'];\n    }\n\n    if (schema.items) {\n      value.forEach((item, index) => {\n        errors.push(...validateAgainstSchema(item, schema.items, path + '[' + index + ']'));\n      });\n    }\n\n    return errors;\n  }\n\n  if (schema.type === 'string') {\n    if (typeof value !== 'string') {\n      return [path + ' must be a string'];\n    }\n\n    if (Array.isArray(schema.enum) && !schema.enum.includes(value)) {\n      return [path + ' must be one of: ' + schema.enum.join(', ')];\n    }\n\n    return errors;\n  }\n\n  if (schema.type === 'number') {\n    if (typeof value !== 'number' || Number.isNaN(value)) {\n      return [path + ' must be a number'];\n    }\n\n    return errors;\n  }\n\n  if (schema.type === 'integer') {\n    if (!Number.isInteger(value)) {\n      return [path + ' must be an integer'];\n    }\n\n    return errors;\n  }\n\n  if (schema.type === 'boolean') {\n    if (typeof value !== 'boolean') {\n      return [path + ' must be a boolean'];\n    }\n\n    return errors;\n  }\n\n  return errors;\n}\n\ntry {\n  if (!raw) {\n    throw new Error('Gemini returned an empty response.');\n  }\n\n  parsed = JSON.parse(raw);\n\n  const validationErrors = validateAgainstSchema(parsed, base.stage_config.schema);\n  const required = Array.isArray(base.stage_config.required_keys)\n    ? base.stage_config.required_keys\n    : [];\n  const missing = required.filter((key) => !(key in parsed));\n\n  if (missing.length) {\n    validationErrors.push('Missing keys: ' + missing.join(', '));\n  }\n\n  if (validationErrors.length) {\n    throw new Error(validationErrors.join(' | '));\n  }\n\n  valid = true;\n} catch (error) {\n  errorMessage = error.message;\n}\n\nconst currentLog = {\n  stage_key: base.stage_config.key,\n  attempt: 2,\n  status: valid\n    ? 'success'\n    : (2 >= (base.stage_retry_limit || 3) ? 'fallback' : 'retry'),\n  latency_ms: Date.now() - base.stage_started_at,\n  warning_details: errorMessage ? [errorMessage] : [],\n  raw_response: raw ? { text: raw } : null,\n  parsed_response: parsed,\n  provider: base.stage_provider,\n  model: base.stage_model,\n  schema_version: base.stage_schema_version,\n  config_source: base.stage_config_source,\n  config_snapshot: base.stage_config_snapshot,\n};\n\nreturn [\n  {\n    json: {\n      ...base,\n      llm_valid: valid,\n      stage_attempt: 2,\n      stage_attempt_error: errorMessage,\n      llm_raw: raw,\n      llm_parsed: parsed,\n      stage_attempt_logs: [...($('Parse Attempt 1').first().json.stage_attempt_logs || []), currentLog],\n    },\n  },\n];"
      },
      "id": "9cde8253-b6d9-4f21-99f7-fb389f6e02e3",
      "name": "Parse Attempt 2",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1460,
        -80
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "660b79d5-c418-4384-ae40-18a30949be01",
              "leftValue": "={{ $json.llm_valid }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "3e1c1d88-eaab-4b8a-be43-ebed1f03b464",
      "name": "Attempt 2 Valid?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1680,
        -80
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "0ba1fbb4-277d-425b-a17c-42684e524395",
              "leftValue": "={{ ($json.stage_retry_limit || 3) > 2 }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "9bb89c5a-be33-45fc-875e-6409a658e14e",
      "name": "Retry Attempt 3 Allowed?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1920,
        -80
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ \"https://generativelanguage.googleapis.com/v1beta/models/\" + ($(\"Prepare Prompt\").first().json.stage_model || $env.GEMINI_MODEL || \"gemini-3-flash-preview\") + \":generateContent\" }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "x-goog-api-key",
              "value": "={{ $env.GEMINI_API_KEY }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ ({ contents: [{ parts: [{ text: $(\"Prepare Prompt\").first().json.stage_prompt + \"\\n\\nThe previous response failed validation because: \" + ($(\"Parse Attempt 2\").first().json.stage_attempt_error || \"unknown error\") + \". Return corrected JSON only.\" }] }], generationConfig: { temperature: $(\"Prepare Prompt\").first().json.stage_retry_temperatures[2], responseMimeType: \"application/json\", responseJsonSchema: $(\"Prepare Prompt\").first().json.stage_config.schema } }) }}",
        "options": {
          "timeout": 90000
        }
      },
      "id": "0b85ad16-6093-4e29-837b-a104aff66d0e",
      "name": "Gemini Attempt 3",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1920,
        60
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000
    },
    {
      "parameters": {
        "jsCode": "const base = $('Prepare Prompt').first().json;\nconst raw = $json.candidates?.[0]?.content?.parts?.[0]?.text || '';\nlet parsed = null;\nlet valid = false;\nlet errorMessage = null;\n\nfunction validateAgainstSchema(value, schema, path = 'root') {\n  const errors = [];\n\n  if (!schema || typeof schema !== 'object') {\n    return errors;\n  }\n\n  if (schema.type === 'object') {\n    if (typeof value !== 'object' || value === null || Array.isArray(value)) {\n      return [path + ' must be an object'];\n    }\n\n    const required = Array.isArray(schema.required) ? schema.required : [];\n    for (const key of required) {\n      if (!(key in value)) {\n        errors.push(path + '.' + key + ' is required');\n      }\n    }\n\n    const properties = schema.properties || {};\n    for (const [key, childSchema] of Object.entries(properties)) {\n      if (key in value) {\n        errors.push(...validateAgainstSchema(value[key], childSchema, path + '.' + key));\n      }\n    }\n\n    return errors;\n  }\n\n  if (schema.type === 'array') {\n    if (!Array.isArray(value)) {\n      return [path + ' must be an array'];\n    }\n\n    if (schema.items) {\n      value.forEach((item, index) => {\n        errors.push(...validateAgainstSchema(item, schema.items, path + '[' + index + ']'));\n      });\n    }\n\n    return errors;\n  }\n\n  if (schema.type === 'string') {\n    if (typeof value !== 'string') {\n      return [path + ' must be a string'];\n    }\n\n    if (Array.isArray(schema.enum) && !schema.enum.includes(value)) {\n      return [path + ' must be one of: ' + schema.enum.join(', ')];\n    }\n\n    return errors;\n  }\n\n  if (schema.type === 'number') {\n    if (typeof value !== 'number' || Number.isNaN(value)) {\n      return [path + ' must be a number'];\n    }\n\n    return errors;\n  }\n\n  if (schema.type === 'integer') {\n    if (!Number.isInteger(value)) {\n      return [path + ' must be an integer'];\n    }\n\n    return errors;\n  }\n\n  if (schema.type === 'boolean') {\n    if (typeof value !== 'boolean') {\n      return [path + ' must be a boolean'];\n    }\n\n    return errors;\n  }\n\n  return errors;\n}\n\ntry {\n  if (!raw) {\n    throw new Error('Gemini returned an empty response.');\n  }\n\n  parsed = JSON.parse(raw);\n\n  const validationErrors = validateAgainstSchema(parsed, base.stage_config.schema);\n  const required = Array.isArray(base.stage_config.required_keys)\n    ? base.stage_config.required_keys\n    : [];\n  const missing = required.filter((key) => !(key in parsed));\n\n  if (missing.length) {\n    validationErrors.push('Missing keys: ' + missing.join(', '));\n  }\n\n  if (validationErrors.length) {\n    throw new Error(validationErrors.join(' | '));\n  }\n\n  valid = true;\n} catch (error) {\n  errorMessage = error.message;\n}\n\nconst currentLog = {\n  stage_key: base.stage_config.key,\n  attempt: 3,\n  status: valid\n    ? 'success'\n    : (3 >= (base.stage_retry_limit || 3) ? 'fallback' : 'retry'),\n  latency_ms: Date.now() - base.stage_started_at,\n  warning_details: errorMessage ? [errorMessage] : [],\n  raw_response: raw ? { text: raw } : null,\n  parsed_response: parsed,\n  provider: base.stage_provider,\n  model: base.stage_model,\n  schema_version: base.stage_schema_version,\n  config_source: base.stage_config_source,\n  config_snapshot: base.stage_config_snapshot,\n};\n\nreturn [\n  {\n    json: {\n      ...base,\n      llm_valid: valid,\n      stage_attempt: 3,\n      stage_attempt_error: errorMessage,\n      llm_raw: raw,\n      llm_parsed: parsed,\n      stage_attempt_logs: [...($('Parse Attempt 2').first().json.stage_attempt_logs || []), currentLog],\n    },\n  },\n];"
      },
      "id": "2dfca56e-3c9c-4a8e-8726-d8dc8aa9e399",
      "name": "Parse Attempt 3",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2160,
        60
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "bc24b552-557a-44ca-8ddf-e6786c410840",
              "leftValue": "={{ $json.llm_valid }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "d3833e29-f8ec-4b0c-a37b-2bdbabf4af7c",
      "name": "Attempt 3 Valid?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2380,
        60
      ]
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first().json;\nconst stageKey = item.stage_config.key;\nconst analysisOutputs = { ...(item.analysis_outputs || {}) };\n\nanalysisOutputs[stageKey] = {\n  ...item.llm_parsed,\n  incomplete: false,\n  _config: {\n    provider: item.stage_provider,\n    model: item.stage_model,\n    schema_version: item.stage_schema_version,\n    source: item.stage_config_source,\n  },\n};\n\nreturn [\n  {\n    json: {\n      ...item,\n      analysis_outputs: analysisOutputs,\n    },\n  },\n];"
      },
      "id": "1cf315ac-233c-49a7-b00a-e232c67a091b",
      "name": "Commit Stage Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2620,
        -160
      ]
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first().json;\nconst stageKey = item.stage_config.key;\nconst analysisOutputs = { ...(item.analysis_outputs || {}) };\nconst warnings = [...(Array.isArray(item.warnings) ? item.warnings : [])];\n\nwarnings.push('Stage ' + stageKey + ' exhausted retries and used fallback output.');\n\nanalysisOutputs[stageKey] = {\n  ...(item.stage_config.fallback || {}),\n  incomplete: true,\n  error: item.stage_attempt_error,\n  _config: {\n    provider: item.stage_provider,\n    model: item.stage_model,\n    schema_version: item.stage_schema_version,\n    source: item.stage_config_source,\n  },\n};\n\nreturn [\n  {\n    json: {\n      ...item,\n      warnings,\n      analysis_outputs: analysisOutputs,\n    },\n  },\n];"
      },
      "id": "1e0acf16-de7b-4dd2-8dbb-51c36672054d",
      "name": "Fallback Stage Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2620,
        120
      ]
    }
  ],
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Prepare Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Prompt": {
      "main": [
        [
          {
            "node": "Gemini Attempt 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini Attempt 1": {
      "main": [
        [
          {
            "node": "Parse Attempt 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Attempt 1": {
      "main": [
        [
          {
            "node": "Attempt 1 Valid?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Attempt 1 Valid?": {
      "main": [
        [
          {
            "node": "Commit Stage Result",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Retry Attempt 2 Allowed?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Retry Attempt 2 Allowed?": {
      "main": [
        [
          {
            "node": "Gemini Attempt 2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Fallback Stage Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini Attempt 2": {
      "main": [
        [
          {
            "node": "Parse Attempt 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Attempt 2": {
      "main": [
        [
          {
            "node": "Attempt 2 Valid?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Attempt 2 Valid?": {
      "main": [
        [
          {
            "node": "Commit Stage Result",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Retry Attempt 3 Allowed?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Retry Attempt 3 Allowed?": {
      "main": [
        [
          {
            "node": "Gemini Attempt 3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Fallback Stage Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini Attempt 3": {
      "main": [
        [
          {
            "node": "Parse Attempt 3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Attempt 3": {
      "main": [
        [
          {
            "node": "Attempt 3 Valid?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Attempt 3 Valid?": {
      "main": [
        [
          {
            "node": "Commit Stage Result",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Fallback Stage Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "ab396e74-1a69-4c1f-9351-d5a172f842bb",
  "meta": {
    "templateCredsSetupCompleted": false
  }
}
